*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    font-family: JetBrains Mono,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root{
    --bgc-body-light-mode: #F2F4EC;
    --bgc-containers-light-mode: #EAECE5;
    --bgc-lightmode-category-selected: #f0d9c9;
    --btn-txt-not-selected: #686664;
    --btn-txt-selected: #421111;
    --hearder-bgc: white;
    --header-cards-bgc: #F0D9C9;
    --header-text-color: #421111;
    --header-numbers-color: #421111;
    --header-percentual-color: #DA5F07;
}

body{
    background-color: var(--bgc-body-light-mode);
}


/* *WRAPPER CONTAINER STYLING */
.wrapper{
    margin: 0 10px 10px 10px;
    padding: 1rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
        'sidebar-left header header header header sidebar-right'
        'sidebar-left content-cards content-cards content-cards content-cards sidebar-right'
        'sidebar-left content-cards content-cards content-cards content-cards sidebar-right'
        'sidebar-left content-cards content-cards content-cards content-cards sidebar-right'
    ;
    gap: 1rem;
}

.content-cards, .side-bar-right, .number-projects-card, .new-messages-card, .github-commits-card, .lines-code-card{
    border: 1px solid black;
}

/* *SIDE BAR LEFT STYLING */
.side-bar-left{
    grid-area: sidebar-left;
    display: grid;
    grid-template-rows: repeat(10,minmax(auto,1fr));
    background-color: var(--bgc-containers-light-mode);
    border-radius: 1rem;
    row-gap: 1rem;
    margin: 0rem 0.2rem;
}
.side-bar-left > button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem;
    margin: 0.3rem 0.6rem  ;
    background-color: transparent;
    color: var(--btn-txt-not-selected);
}
.side-bar-left > button > .icon-user{
    padding-right: 1rem;
}
.side-bar-left > button > div{
    padding-right: 1rem;
}

/* *USER BUTTON STYLING */
.user > .btn-text{
    color: var(--btn-txt-selected) ;
}

/* *DASHBOARD BUTTON  */
.side-bar-left > .dashboard{
    background-color: var(--bgc-lightmode-category-selected);
    color: var(--btn-txt-selected);
}
.side-bar-left > .dashboard img:nth-child(1){
    display: none;
}
.side-bar-left > .dashboard img:nth-child(2){
    display: inline;
}

/* *SETTINGS BUTTON */
.settings{
    grid-row: 10/11;
}

/* *IMAGES DIV */
.images{
    height: 24px;
}

/* *BUTTONS HOVER CHANGES*/
.dashboard:hover, 
.analytics:hover, 
.inbox:hover, 
.settings:hover{
    cursor: pointer;
    color: var(--btn-txt-selected);

}
.icon-default{
    display: inline;
}
.icon-after-btn-click{
    display: none;
}
.dashboard:hover img:nth-child(1),
.analytics:hover img:nth-child(1),
.inbox:hover img:nth-child(1),
.settings:hover img:nth-child(1){
    display: none;
}
.dashboard:hover img:nth-child(2),
.analytics:hover img:nth-child(2),
.inbox:hover img:nth-child(2),
.settings:hover img:nth-child(2){
    display: inline;
}


/* *HEADER AND CARDS */
.header-cards{
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
}

.number-projects-card,.new-messages-card,.github-commits-card,.lines-code-card{
    margin: 0 0.5rem;
    border-radius: 1rem;

}
.cards-text {
    padding: 0.2rem 0 0.2rem 1rem;
}










/* *SIDEBAR RIGHT */
.side-bar-right{
    grid-area: sidebar-right;
}

/* *CONTENT AND CARDS */
.content-cards{
    grid-area: content-cards;
}

