*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    font-family: JetBrains Mono,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #F2F4EC;
}


:root{
    --bgc-default: #EAECE5;
    --bgc-lightmode-category-selected: #f0d9c9;
    --btn-txt-not-selected: #686664;
    --btn-txt-selected: #421111
}


/* *WRAPPER CONTAINER STYLING */
.wrapper{
    margin: 0 10px 10px 10px;
    padding: 1rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
        'sidebar-left header header header header header'
        'sidebar-left content-cards content-cards content-cards content-cards sidebar-right'
        'sidebar-left content-cards content-cards content-cards content-cards sidebar-right'
        'sidebar-left content-cards content-cards content-cards content-cards sidebar-right'
    ;
    gap: 1rem;
}

.content-cards, .side-bar-right ,.header-cards{
    border: 1px solid black;
}


/* *SIDE BAR LEFT STYLING */
.side-bar-left{
    grid-area: sidebar-left;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bgc-default);
    border-radius: 2rem;
}
.side-bar-left > button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem;
    margin: 1rem;
    background-color: transparent;
    color: var(--btn-txt-not-selected);
}
.side-bar-left > button > .icon-user{
    padding-right: 1rem;
}
.side-bar-left > button > div{
    padding-right: 1rem;
}

/* *USER BUTTON STYLING */
.user > .btn-text{
    color: var(--btn-txt-selected) ;
}

/* *BUTTONS HOVER CHANGES*/
.dashboard:hover, 
.analytics:hover, 
.inbox:hover, 
.settings :hover{
    cursor: pointer;
    color: var(--btn-txt-selected);

}
.icon-default{
    display: inline;
}
.icon-after-btn-click{
    display: none;
}
.dashboard:hover img:nth-child(1),
.analytics:hover img:nth-child(1),
.inbox:hover img:nth-child(1),
.settings:hover img:nth-child(1){
    display: none;
}
.dashboard:hover img:nth-child(2),
.analytics:hover img:nth-child(2),
.inbox:hover img:nth-child(2),
.settings:hover img:nth-child(2){
    display: inline;
}



/* *SIDEBAR RIGHT */
.side-bar-right{
    grid-area: sidebar-right;
}

/* *HEADER AND CARDS */
.header-cards{
    grid-area: header;
}

/* *CONTENT AND CARDS */
.content-cards{
    grid-area: content-cards;
}

